.img {
        max-height: 100%;
        float: left;
        margin-left: 35px;
        width: auto;
      }
      #form { 
        position: left; 
        top: 0; 
        left: 100px;
        width: 30%;
        margin-left: 300px;
        display: grid;
        grid-template-columns: 1px auto;
        grid-gap: 10px;

      }
      
